.App {
  text-align: center;
}

.news h2 {
  display: inline-block;
  padding: 10px;
}

.widgetlist {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.widgetlist>* {
  height: 150px;
  width: 250px;
  /* display: inline-block; */
  margin: 10px;
  border: 1px solid black;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  width: 100px;
  border: 1px solid black;
  
}

.searchBar {
  height: 50px;
  width: 500px;
  border: 1px solid black;
}

.subtitle {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.banner {
  width: 500px;
  height: 70px;
  border: 1px solid black;
  margin: 10px auto;
}

.promo {
  width: 300px;
  height: 175px;
  border: 1px solid black;
  position: absolute;
  right: 0px;
  top: 0px;
}